@import "../global.scss";
body {
  background-color: $bg-color;
}
.home {
  font-family: $font-family;
  .gap-in-left {
    padding-left: $gap-in-left;
  }
  .w-30 {
    width: 30%;
  }
  input.form-control {
    height: $input-height;
  }
  .gap-in-right {
    padding-right: $gap-in-right;
  }
  .font-xs {
    font-size: $font-xs;
  }
  .font-sm {
    font-size: $font-sm;
  }
  .font-weight-600 {
    font-weight: 600;
  }
  select.form-control:not([size]):not([multiple]) {
    height: 32px;
    padding: 6px 12px;
  }
  .btn-default {
    box-shadow: $btn-default;
  }
  .second-header {
    box-shadow: $btn-shadow-sm;
  }
  .btn,
  .btn-sm,
  .btn-default {
    cursor: pointer;
  }
  .bg-white-smoke {
    background-color: #ffffffa3;
  }

  .second-body table {
    font-size: $font-xs;
  }
  tr > th:first-child {
    width: 0 !important;
  }
  thead > tr {
    text-align: center;
    text-transform: capitalize;
  }

  tr > td:nth-child(2) {
    text-transform: uppercase;
  }
  .caption-wrapper {
    color: black !important;
  }
  select.border-0 {
    box-shadow: $btn-default;
  }
  .previous,
  .next {
    color: $chevron-color;
  }
  .second-header .container-fluid {
    padding-left: 0.3rem !important;
  }
  .dropdown > button {
    display: block;
    background-color: inherit;
    box-shadow: unset;
    padding: 0;
  }
  .DropDownSearch {
    .dropdown-menu.show {
      left: -1rem !important;
    }
    .dropdown-menu.show .form-group {
      background-color: #80808024;
      margin: 0 0.25rem;
    }
    .form-group.search > input.form-control {
      border: 0;
      box-shadow: unset;
      background-color: #80808000;
    }
    .dropdown {
      max-width: 100%;
    }

    .dropdown .wrapper-items {
      max-height: $max-height-dropdown;
      overflow-y: auto;
      overflow-x: hidden;
      max-width: 100%;
    }
    .dropdown-menu.show .dropdown-item {
      display: inline-block;
      white-space: break-spaces;
    }
    .dropdown-menu.show .dropdown-item.isactive {
      border-left: 2px solid lightblue;
    }
    .font-weight-500 {
      font-weight: 500;
    }
    .dropdown-menu.show {
      margin-top: 0.9rem;
    }
  }
  .DropDownExport {
    font-family: $font-family;
    .btn-sm.btn-default {
      // padding: 0.3rem;
      box-shadow: 0 0 2px;
    }
    .btn-sm.btn-primary {
      padding: 0.3rem;
    }
    .dropdown-menu.show .dropdown-item {
      background-color: $dropdown-export-item-bg;
    }
  }
  .second {
    caption {
      select {
        max-width: 80px;
        width: 80px;
      }
    }
  }
  .Overlay {
    top: 0;
    left: 0;
    max-height: 100%;
    overflow-y: auto;
    overflow: hidden;
    background-color: $overlay-background-color;
    z-index: $overlay-index;
    font-family: $font-family;
    .settings {
      right: 0;
      background-color: $global-setting-overlay-background;
    }
    .close {
      height: $width-close;
      width: $width-close;
      border-radius: 50%;
      border: $border-close-button;
    }

    .input-check {
      height: $height-input-check;
      width: $width-input-check;
      border-radius: 3rem;
      cursor: pointer;
      .input-circle {
        height: $height-input-check;
        width: $height-input-check;
        border-radius: 50%;
        border: $boder-bottom-setting-general;
        transition: all 0.25s ease-in-out;

        &.true {
          left: Calc(100% - $height-input-check);
        }

        &.false {
          left: 0px;
        }
      }
      &.false {
        background-color: $check-false;
      }
      &.true {
        background-color: $check-true;
      }
    }
  }
}
