body {
  background-color: rgba(128, 128, 128, 0.123);
}

.home {
  font-family: roboto;
}
.home .gap-in-left {
  padding-left: 1rem;
}
.home .w-30 {
  width: 30%;
}
.home input.form-control {
  height: 38px !important;
}
.home .gap-in-right {
  padding-right: 1rem;
}
.home .font-xs {
  font-size: 0.75rem;
}
.home .font-sm {
  font-size: 0.9rem;
}
.home .font-weight-600 {
  font-weight: 600;
}
.home select.form-control:not([size]):not([multiple]) {
  height: 32px;
  padding: 6px 12px;
}
.home .btn-default {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6980392157);
}
.home .second-header {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2117647059);
}
.home .btn,
.home .btn-sm,
.home .btn-default {
  cursor: pointer;
}
.home .bg-white-smoke {
  background-color: rgba(255, 255, 255, 0.6392156863);
}
.home .second-body table {
  font-size: 0.75rem;
}
.home tr > th:first-child {
  width: 0 !important;
}
.home thead > tr {
  text-align: center;
  text-transform: capitalize;
}
.home tr > td:nth-child(2) {
  text-transform: uppercase;
}
.home .caption-wrapper {
  color: black !important;
}
.home select.border-0 {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6980392157);
}
.home .previous,
.home .next {
  color: rgba(0, 0, 0, 0.425);
}
.home .second-header .container-fluid {
  padding-left: 0.3rem !important;
}
.home .dropdown > button {
  display: block;
  background-color: inherit;
  box-shadow: unset;
  padding: 0;
}
.home .DropDownSearch .dropdown-menu.show {
  left: -1rem !important;
}
.home .DropDownSearch .dropdown-menu.show .form-group {
  background-color: rgba(128, 128, 128, 0.1411764706);
  margin: 0 0.25rem;
}
.home .DropDownSearch .form-group.search > input.form-control {
  border: 0;
  box-shadow: unset;
  background-color: rgba(128, 128, 128, 0);
}
.home .DropDownSearch .dropdown {
  max-width: 100%;
}
.home .DropDownSearch .dropdown .wrapper-items {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
}
.home .DropDownSearch .dropdown-menu.show .dropdown-item {
  display: inline-block;
  white-space: break-spaces;
}
.home .DropDownSearch .dropdown-menu.show .dropdown-item.isactive {
  border-left: 2px solid lightblue;
}
.home .DropDownSearch .font-weight-500 {
  font-weight: 500;
}
.home .DropDownSearch .dropdown-menu.show {
  margin-top: 0.9rem;
}
.home .DropDownExport {
  font-family: roboto;
}
.home .DropDownExport .btn-sm.btn-default {
  box-shadow: 0 0 2px;
}
.home .DropDownExport .btn-sm.btn-primary {
  padding: 0.3rem;
}
.home .DropDownExport .dropdown-menu.show .dropdown-item {
  background-color: rgba(128, 128, 128, 0.1529411765);
}
.home .second caption select {
  max-width: 80px;
  width: 80px;
}
.home .Overlay {
  top: 0;
  left: 0;
  max-height: 100%;
  overflow-y: auto;
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.6117647059);
  z-index: 1000;
  font-family: roboto;
}
.home .Overlay .settings {
  right: 0;
  background-color: mintcream;
}
.home .Overlay .close {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.98);
}
.home .Overlay .input-check {
  height: 15px;
  width: 40px;
  border-radius: 3rem;
  cursor: pointer;
}
.home .Overlay .input-check .input-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1607843137);
  transition: all 0.25s ease-in-out;
}
.home .Overlay .input-check .input-circle.true {
  left: calc(100% - 15px);
}
.home .Overlay .input-check .input-circle.false {
  left: 0px;
}
.home .Overlay .input-check.false {
  background-color: rgba(128, 128, 128, 0.248);
}
.home .Overlay .input-check.true {
  background-color: lightgreen;
}/*# sourceMappingURL=home.css.map */