@import "../global.scss";
body {
  background-color: $bg-color;
}
.home {
  font-family: $font-family;
  .gap-in-left {
    padding-left: $gap-in-left;
  }
  input.form-control {
    height: $input-height;
  }
  .gap-in-right {
    padding-right: $gap-in-right;
  }
  .font-xs {
    font-size: $font-xs;
  }
  .font-sm {
    font-size: $font-sm;
  }
  .font-weight-600 {
    font-weight: 600;
  }
  select.form-control:not([size]):not([multiple]) {
    height: 32px;
    padding: 6px 12px;
  }
  .btn-default {
    box-shadow: $btn-default;
  }
  .second-header {
    box-shadow: $btn-shadow-sm;
  }
  .btn,
  .btn-sm,
  .btn-default {
    cursor: pointer;
  }
  .bg-white-smoke {
    background-color: #ffffffa3;
  }
  .second-body table {
    font-size: $font-xs;
  }
  tr > th:first-child {
    width: 0 !important;
  }
  thead > tr {
    text-align: center;
    text-transform: capitalize;
  }

  tr > td:nth-child(2) {
    text-transform: uppercase;
  }
  .caption-wrapper {
    color: black !important;
  }
  select.border-0 {
    box-shadow: $btn-default;
  }
  .previous,
  .next {
    color: $chevron-color;
  }
  .second-header .container-fluid {
    padding-left: 0.3rem !important;
  }
  .dropdown > button {
    display: block;
    background-color: inherit;
    box-shadow: unset;
    padding: 0;
  }
  .DropDownSearch {
    .dropdown-menu.show {
      left: -1rem !important;
    }
    .dropdown-menu.show .form-group {
      background-color: #80808024;
      margin: 0 0.25rem;
    }
    .form-group.search > input.form-control {
      border: 0;
      box-shadow: unset;
      background-color: #80808000;
    }
    .dropdown {
      max-width: 100%;
    }

    .dropdown .wrapper-items {
      max-height: $max-height-dropdown;
      overflow-y: auto;
      overflow-x: hidden;
      max-width: 100%;
    }
    .dropdown-menu.show .dropdown-item {
      display: inline-block;
      white-space: break-spaces;
    }
    .font-weight-500 {
      font-weight: 500;
    }
    .dropdown-menu.show {
      margin-top: 0.9rem;
    }
  }
  .DropDownExport {
    font-family: $font-family;
    .btn-sm.btn-default {
      // padding: 0.3rem;
      box-shadow: 0 0 2px;
    }
    .btn-sm.btn-primary {
      padding: 0.3rem;
    }
    .dropdown-menu.show .dropdown-item {
      background-color: $dropdown-export-item-bg;
    }
  }
}
