$bg-color: rgba(128, 128, 128, 0.123);
$font-xs: 0.75rem;
$font-sm: 0.9rem;
$font-family: roboto;
$btn-default: 0px 0px 2px #000000b2;
$btn-shadow-sm: 0px 0px 2px #00000036;
$dropdown-export-item-bg: #80808027;
$gap-in-left: 1rem;
$gap-in-right: 1rem;
$chevron-color: rgba(0, 0, 0, 0.425);
$input-height: 38px !important;
$max-height-dropdown: 200px;
$overlay-background-color: #8080809c;
$overlay-index: 1000;
$global-setting-overlay-background: mintcream;
$border-close-button: 1px solid rgb(128 128 128 / 98%);
$boder-bottom-setting-general: 1px solid #00000029;
$height-circle: 18px;
$height-input-check: 15px;
$width-input-check: 40px;
$check-false: rgba(128, 128, 128, 0.248);
$check-true: lightgreen;
$width-close:32px;
