$bg-color: rgba(128, 128, 128, 0.123);
$font-xs: 0.75rem;
$font-sm: 0.9rem;
$font-family: roboto;
$btn-default: 0px 0px 2px #000000b2;
$btn-shadow-sm: 0px 0px 2px #00000036;
$gap-in-left: 1rem;
$gap-in-right: 1rem;
$chevron-color: rgba(0, 0, 0, 0.425);
$input-height: 38px !important;
$max-height-dropdown: 200px;
